! xft fonts 
!------------------------------------------------------------------
Xft.antialias:  true
Xft.autohint:   false
Xft.dpi:        272
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

Xcursor.size:   36
Xcursor.theme:  adwaita
